<h1 class="title">Contatos</h1>

<p class="text">
    Ficou interessado no meu perfil? quer fazer uma página? me convidar pra uma 
    entrevista? quer me conhecer mais? segue abaixo outras formas de contato.
</p>


<div class="contactsbox">

    <div class="fields">
        <h3>Email: </h3>
        <p class="text">Alelogovir@gmail.com</p>
    </div>

    <div class="fields">
        <h3>Celular/whatsapp: </h3>
        <p class="text">(21) 96949-7327</p>
    </div>

    <div class="fields">
        <h3>Fixo: </h3>
        <p class="text">(21) 2660-0506</p>
    </div>

    <div class="fields">
        <h3>LinkedIn: </h3>
        <p class="text">/in/alemaxi/</p>
    </div>
    
    <div class="fields">
        <h3>GitHub: </h3>
        <p class="text">/Alemaxi</p>
    </div>

</div>