<h1 class="title">Resumo</h1>

<p class="text">
    Quando comecei a me interessar por tecnologia? Bem, parece meio clichê, mas foi como a
    maioria das pessoas que estudam computação começaram a se interessar (pelo menos os
    que eu tenho ouvido...), quando eu era criança... Eu cresci em meio a tecnologias,
    meu primeiro video game foi um master system, e por ver muita tecnologia sempre ficava
    aquele fascínio.
</p>

<p class="text">
    Os filmes da época apresentavam uma imagem reluzente de um futuro tecnológico (e de fato
    tenho visto que é bem interessante), os noticiários e tudo mais. então, tecnicamente
    cresci com tendência a querer estudar tecnologia. E assim o fiz.
</p>

<p class="text">
    Agora que você já sabe que estudei T.I porque tenho paixão pela área, vou te contar o
    que estou buscando... É bem simples. Fazer de T.I (justamente por eu ter paixão) minha
    principal fonte de renda/sobrevivência, empregado ou por conta própria, e assim colaborar
    pra tornar o mundo um lugar melhor com a tecnologia (como dizem uma mão lava a outra).

</p>

<p class="text">
    Tenho estado dia após dia me mantendo motivado em estudar sobre a área e aprender coisas 
novas, minha pretensão é continuar assim!
</p>