<h1 class="title">Objetivos</h1>

<section>

    <p class="text">
        Agora, vou explicar os objetivos que tenho perseguido e como as minhas experiências
        até aqui somam com esses objetivos. resumindo todas as conquistas de aprendizado até aqui
        são: graduação em Análise e desenvolvimento de sistemas, concluindo pós graduação em
        Analise de dados com BI e BigData, curso de inglês nivel upper (está constantemente em
        improvement... hehe hoje em dia consigo ler bem mais que na época...), certificação scrum
        e estudos paradidáticos.

    </p>

    <div class="separations card">

        <div class="card-body">

            <h4 class="subtitle">Graduação em análise e desenvolvimento de sistemas</h4>
    
            <p class="text">
                Como já disse anteriormente, minha decisão de me graduar em T.I veio do fato de que pela
                convivência com o tema durante a minha infância que acabou por despertar em mim o desejo
                por estudar essa área. Eu sinto em relação a essa conquista bastante satisfação pois era
                o primeiro e principal passo para poder transformar TI em uma forma de obtenção de renda
                e uma forma de impactar o mundo. Não tive muita dificuldade com as matérias e tive uma gra-
                duação normal... minhas notas eram boas no geral, curti bastante os temas dos semestres
                (exceto governança, cobit e tal...) e tive disciplina.
            </p>

        </div>
    </div>

    <div class="separations card">

        <div class="card-body">
            
            <h4 class="subtitle">Pós graduação em análise de dados com BI e BigData</h4>
    
            <p class="text">
                Essa veio pelo meu gosto por informações, por planejamento e, é claro, por inteligência
                artificial! Como eu vejo isso? sim... eu já me imaginei trabalhando como um cientista de
                dados (quem sabe um dia...), mas como disse anteriormente gosto da área de T.I então me
                sinto meio indiferente se vou estar como um cientista de dados ou como um dev em alguma
                tecnologia... Penso que esses conhecimentos que adquiri na pós, possoa aplicar em diversas
                áreas (e de fato posso) pra produzir automação... Meu objetivo pra escolher isso foi pra
                ter conhecimento sobre IA com finalidade de aplicar automações em algum momento.
            </p>

        </div>
    </div>

    <div class="separations card">

        <div class="card-body">

            <h4 class="subtitle">Curso de inglês</h4>
        
            <p class="text">
                Dispensa comentários...
            </p>
            
        </div>
            
    </div>

    <div class="separations card">

        <div class="card-body">

            <h4 class="subtitle">Certificação de scrum</h4>
    
            <p class="text">
                Uma 'metodologia' fantástica... Gosto de agile em si... acredito que essa é forma certa
                de trabalhar em grupo e manter alta performance.
            </p>


        </div>
    </div>

    <div class="separations card">

        <div class="card-body">

            <h4 class="subtitle">Estudos paradidáticos</h4>
    
            <p class="text">
                Tenho me focado nisso para construir meus conhecimentos de tecnologia. No momento estou
                estudando Angular e python e kotlin. Angular pois posso usar pra produzir algumas páginas e fazer
                uns freelas (tirar um cascalho) e é uma tecnologia que tem mercado então posso conseguir um trabalho
                tbm... Python por ser a que eu mais sei usar pra fazer análise de dados (com jupyter) e tbm consigo
                fazer backend com django; e, Kotlin pra mobile (acho que dá pra pegar uns freelas tbm).
            </p>

        </div>
    </div>

</section>